
@using test_ASPnet_MVC_5.Models
@model test_ASPnet_MVC_5.Models.User

<h2>ID № @Model.Id</h2>
@using (Html.BeginForm("Dbredact", "Home", FormMethod.Post))
{
<fieldset>
    @Html.HiddenFor(m => m.Id)
    <p>
        @Html.LabelFor(m => m.Name, "Имя")
        <br />
        @Html.EditorFor(m => m.Name)
    </p>
    <p>
        @Html.LabelFor(m => m.Surname, "Фамилия")
        <br />
        @Html.EditorFor(m => m.Surname)

    </p>
    <p>
        @Html.LabelFor(m => m.email, "email")
        <br />
        @Html.EditorFor(m => m.email)

    </p>
    <div class="editor-label"><b>Страницы</b></div>
    @foreach (var c in ViewBag.Pages)
    {
        <input type="checkbox" name="selectPages" value="@c.Id"
               @(Model.Pages.Contains(c) ? "checked=\"checked\"" : "") />@c.Name <br />
        }
    <p><input type="submit" value="Отправить" /></p>
</fieldset>
}